.feature-flag-section {
  margin-top: 2em;
}

.feature-flag-section h2 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .1em;
  padding: 0;
  margin-bottom: 0.5em;
  user-select: none;
}

.feature-flag-section--fill-background {
  background-color: #24292b;
  padding: 4px;
  border-radius: 4px;
}

.feature-flag-section__blocks {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feature-flag-section__blocks--gap {
  gap: 16px;
}
