/* Adapted from https://codepen.io/mallendeo/pen/QWKrEL */

.toggle {
  display: none;
}

.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + .toggle-button::selection {
  background: none;
}

.toggle + .toggle-button {
  outline: 0;
  display: block;
  width: 2.8em;
  height: 1.4em;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: #6f6f6d;
  border-radius: 1.6em;
  padding: 0px;
  transition: all 0.4s ease;
}

.toggle + .toggle-button:after,
.toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.toggle + .toggle-button:after {
  left: 0;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.toggle + .toggle-button:before {
  display: none;
}

.toggle:checked + .toggle-button {
  background: #3fa0ff;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}
