*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #0c0c0e;
  margin: 2em;
  font-family: Industry, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
